<!DOCTYPE html>
<html>
{% if user is defined %}
    <h2 class="mb-3">Posts By {{ user.username }} ({{posts.total}}):</h2>
{% endif %}
{%for post in posts.items%}
        <article class="media content-section-allpost">
            <img class="rounded-circle article-img" src="{{url_for('static', filename='profile_pictures/' + post.author.image)}}">
            <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d')}}</small>
            </div>
            <div>
                <a class="article-content-allpost"href="{{ url_for('posts.post', post_id=post.id) }}" style="text-decoration: none; color: inherit;">
                    <div><h4>{{ post.title }}</h4></div>
                    <div><p class="text-secondary">{{ post.content }}</p></div>
                </a>
            </div>
        </article>
    {% endfor %}
    {%for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1,right_current=1)%}
        {%if page_num %}
            {%if page_num == posts.page %}
                <a class = "btn btn-info mb-4" href="{{url_for(request.endpoint, page=page_num, **request.view_args)}}">{{page_num}}</a>
            {%else%}
                <a class = "btn btn-outline-info mb-4" href="{{url_for(request.endpoint, page=page_num, **request.view_args)}}">{{page_num}}</a>
            {%endif%}
        {%else%}
            ...
        {%endif%}
    {%endfor%}
</html>